
/* Your CSS Code here. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.holder{
    display: grid;
    /* width: 200px;
    height: 200px; */
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* border: 1px solid black; */
}
.item1{
    background-color: aqua;
   
}
.item2{
    background-color: rgb(228, 105, 24);
   
}
.item3{
    background-color: rgb(37, 13, 173);
    
}
.item4{
    background-color: rgb(19, 212, 35);

}